#landing {
  @extend %flex__container_column;
  @extend %nowrap;
  min-height: 100%;
  min-width: 100%;

  header {
    @include header();
    @media only screen and (min-width: 1800px) {
      padding-left: 10%;
      padding-right: 10%;
    }
  }

  section {
    flex: 1;
    @extend %flex__container_row;
    width: 100%;
    margin-top: 10%;

    @media only screen and (min-width: 1800px) {
      width: 80%;
      margin-right: auto;
      margin-left: auto;
    }

    .section__left {
      width: 48%;
      margin-right: px-to-rem(20px);

      .info__wrapper_top,
      .info__wrapper_bottom {
        color: #FFF;
        margin-left: 15%;
      }

      .info__wrapper_top {
        line-height: px-to-rem(80px);
  
        .info__wrapper_text {
          font-family: $font-family-prompt;
          letter-spacing: -2px;
          font-size: px-to-rem(90px);
        }
      }

      .info__wrapper_bottom {
        border-left: 3px solid #58d4f8;
        margin-top: px-to-rem(40px);
        width: 80%;
  
        .info__wrapper_text {
          padding-left: px-to-rem(40px);
          font-family: $font-family-josefin;
          font-weight: 200;
          font-size: px-to-rem(18px);
          line-height: px-to-rem(30px);
        }
      }

      .buttons__wrapper {
        @extend %flex__container_row;
        margin-top: px-to-rem(60px);
        user-select: none;
        margin-left: 15%;

        .info {
          display: inline-block;
          font-family: $font-family-prompt;
          letter-spacing: 1px;

          .info__top {
            font-size: px-to-rem(10px);

            span{
              font-size: px-to-rem(8px);
              font-weight: 100;
            }
          }
          .info__bottom {
            font-size: px-to-rem(16px);
            font-weight: 700;
          }
        }

        .designed__by {
          margin-right: px-to-rem(30px);
          display: inline-block;
          width: 30%;
          min-width: px-to-rem(185px);
          background: #ffc741;
          border-radius: 8px;
          color: #FFF;
          padding: px-to-rem(20px);
          cursor: pointer;

          img {
            display: inline-block;
            margin-right: px-to-rem(10px);
          }
        }

        .join {
          display: inline-block;
          width: 40%;
          min-width: px-to-rem(245px);
          background: #f6f6f6;
          border-radius: 8px;
          padding: px-to-rem(20px) px-to-rem(30px);
          cursor: pointer;

          img {
            display: inline-block;
            margin-right: px-to-rem(10px)
          }

          .info {
            color: #bb8fde;
          }
        }
      }
    }

    .section__right {
      width: 48%;

      @keyframes bounce {
        0% { transform: translateY(-10px) }
        100% { transform: translateY(10px) }
      }

      #card {
        max-width: px-to-rem(600px);
        min-width: px-to-rem(300px);
        min-height: px-to-rem(400px);
        margin: 0 auto;
        background: #FFF url('../images/groceries.jpg') no-repeat center center / contain;
        border-radius: 5px;
        box-shadow: 0 0 30px 0 $light-grey-1,
                    0 15px 20px -6px $light-grey-1;
        animation: bounce;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
      }
    }
  }
}

