.inventory__form {
  margin: 20px 0;

  .bottom {
    @extend %flex__container_row;
    @extend %nowrap;
    justify-content: space-between;
  }

  .form-field {
    margin-bottom: 10px;
    span,
    .error {
      color: tomato;
    }

    .error {
      font-size: 14px;
      padding-top: 5px;
      font-family: $font-family-prompt;
    }

    input[type="text"],
    input[type="number"] {
      display: inline-block;
      width: 100%;
      padding: 5px 0 5px 10px;
      height: 30px;
      border-radius: 5px;
      border: 1px solid $light-grey-1;
      font-family: $font-family-roboto;
      font-size: 14px;
      outline: none;

      &:focus {
        border: 1px solid #4d75a1;
      }
    }

    input[type="text"],
    input[type="number"] {
      &.alert {
        border: 1px solid tomato;
      }
    }

    input[type="text"] {
      width: 100%;
      text-transform: capitalize;
    }

    .inline__field {
      width: 45%;
    }

    label {
      display: block;
      margin-bottom: 10px;
      font-family: $font-family-josefin;
    }
  }
}