#store {
  @extend %flex__container_column;
  @extend %nowrap;
  min-height: 100%;

  @keyframes blurIn {
    from { filter: blur(5px) }
    to { filter: blur(0) }
  }

  @keyframes grayIn {
    from { filter: grayscale(70%) }
    to { filter: grayscale(0) }
  }

  @keyframes fadeIn {
    from { filter: opacity(20%) }
    to { filter: opacity(100%) }
  }

  .blur {
    animation: blurIn 2s ease-out 1s;
  }

  .gray {
    animation: grayIn 2s ease-out 1s;
  }

  .fade {
    animation: fadeIn 1s ease-out;
  }

  .effect {
    animation: blurIn 1s ease-out, grayIn 1s ease-out;
  }

  header {
    @include header();
    padding: px-to-rem(10px) 0;
  }

  #grocery__display {
    flex: 1;
    @extend %flex__container_column;
    background: #f6f6f6;
    padding: 50px 0;

    .grocery__list {
      @extend %flex__container_row;
      flex-wrap: wrap;
      justify-content: flex-start;
      width: 95%;
      margin-left: auto;

      .grocery__list_item {
        flex: 1 0 30%;
        max-width: px-to-rem(300px);
        min-width: px-to-rem(300px);
        background: #FFF;
        border-radius: 5px;
        padding: 20px;
        margin: 1%;
        box-shadow: 0 15px 20px -6px $light-grey-1;
        overflow-x: hidden;

        .image__wrapper {
          min-height: 172px;
          img {
            width: 100%;
            transition: all .5s linear;
            filter: grayscale(50%);
            cursor: pointer;
  
            &:hover {
              transform: scale(1.1);
              filter: grayscale(0%);
            }
          }
        }

        .grocery__info {
          .grocery__name {
            font-family: $font-family-josefin;
            padding: 6px 0;
            font-size: px-to-rem(18px);
            text-transform: capitalize;
          }

          .grocery__price {
            color: #4d75a1;
            float: right;
            font-size: px-to-rem(22px);
            font-weight: 400;
          }

          .grocery__buttons {

            .add {
              font-weight: 500;
              border-radius: 5px;
              background: #ffc741;
              border: none;
              padding: 5px 10px;
              cursor: pointer;
              outline: none;
              min-width: px-to-rem(100px);

              &:active:not(:disabled) {
                background: #fdd26d;
              }

              &:disabled {
                background: #fdd26d;
                cursor: not-allowed;
              }
            }
          }
        }
      }
    }
  }
}