{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "browsers": "last 2 versions"
      },
      "modules": false,
      "loose": true
    }]
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ],
  "env":{
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}