// Base font size
$base-font-size: 16px;

// Colors
$light-grey-1: rgba(0, 0, 0, 0.1);
$light-grey-2: rgba(0, 0, 0, 0.2);
$light-grey-4: rgba(0, 0, 0, 0.4);
$light-grey-6: rgba(0, 0, 0, 0.6);

// Font Family
$font-family-prompt: Prompt, sans-serif;
$font-family-josefin: 'Josefin Sans', sans-serif;
$font-family-roboto: Roboto, sans-serif;
